.ecom-register {
 margin: 0;
 padding: 0;
 overflow: hidden;
}

.container-register-ecom {
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  /* border-radius: 20px; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); */
  overflow: hidden;
}

.container-register-ecom .container-image-ecom {
  width: 50%;
  background:url(../../media/african-man-harvesting-vegetables.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-register-ecom .container-image-ecom img {
  max-width: 90%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.container-register-ecom form {
  width: 50%;
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-register-ecom form h1 {
  color: #4caf50;
  font-weight: 800;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.container-register-ecom form .form-group {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start ;

}

.container-register-ecom form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.container-register-ecom form input {
  /* width: %; */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.container-register-ecom form input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
  outline: none;
}

.container-register-ecom form button {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s, transform 0.2s;
}

.container-register-ecom form button:hover {
  background-color: #388e3c;
  transform: scale(1.02);
}

.login-prompt {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.login-prompt a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.login-prompt a:hover {
  color: #388e3c;
  text-decoration: underline;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-group label {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.radio-group input {
  margin-right: 8px;
}