.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;
    border: none;
    /* border-bottom: 1px solid; */
  }
  
  .custom-table th {
    background-color: #f0f0f0;
    border-radius: 0;
  }
  
  .product-cell-commande {
    display: flex;
    align-items: center;
  }
  .product-info-commande{
      /* border: 1px solid; */
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .product-info-commande img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  