.facturation-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 410px;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
}

.facturation-card h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.product-info-facturation {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-info-facturation:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.product-info-facturation img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 8px;
}

.product-details-facturation {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-details-facturation p {
    font-size: 0.9rem;
    color: #555555;
    margin: 0;
}

.product-details-facturation p:last-child {
    font-weight: bold;
    color: #333333;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 1rem;
    color: #555555;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
}

.summary-item.total {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333333;
    border-bottom: none;
}

.payment-options {
    margin: 20px 0;
}

.payment-options label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #555555;
    cursor: pointer;
}

.payment-options input {
    margin-right: 10px;
    accent-color: #516e32;
}

.payment-button {
    /* display: block; */
    margin-top: 20px;
    padding: 15px;
    background-color: #516e32;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    /* width: 100% !important; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.payment-button:hover {
    background-color: #81ed0d;
    transform: translateY(-3px);
}