.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  /* background: linear-gradient(90deg, #3ecc72, #2e7d32); */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo img {
  height: 50px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #000;
}

.nav-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  border: 1px solid #ccc;
  background-color: #31AC5E;
  border-radius: 10px;
  padding: 10px;
  width: 8%;
}

.nav-icon {
  color: #fff;
  font-size: 20px;
  position: relative;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
  color: #c8e6c9;
}

.nav-cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #ff5252;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}

.nav-header .nav-logo img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}